@media (max-width: 768px) {

    /* For navbar */
    .hamburger {
        display: flex;
    }

    .nav-links {
        position: absolute;
        top: 70px;
        right: 0%;
        opacity: 0;
        flex-direction: column;
        background-color: #7b5e57;
        width: 200px;
        padding: 1rem;
        gap: 1.5rem;
        transition: right 0.3s ease;
        z-index: 1000;
    }

    .nav-links.active {
        opacity: 1;
    }

    /* For Carousel */
    .slide img {
        height: 70vh;
    }

    .slide {
        aspect-ratio: 3 / 1
    }

    .caption {
        left: 12px;
        right: 12px;
        max-width: none;
        font-size: .9rem
    }

    .controls button {
        width: 36px;
        height: 36px
    }


    .about-container{
        flex-direction: column;
    }


    .footer-container {
        flex-direction: column;
        margin-bottom: 50px;
        text-align: center;
    }

    .footer-Section-main{
        gap: 15px;
    }

    .social-icons {
        justify-content: center;
    }









    .contact-container {
        flex-direction: column;
        align-items: center;
    }

    .contact-card{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


@media (prefers-reduced-motion: reduce) {
    .carousel-track {
        transition: none
    }
}